@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  /* neutral colors */
  --dark-blue: hsl(218, 23%, 16%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --grayish-blue: hsl(217, 19%, 38%);

  /* primary colors */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--dark-blue);

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.content {
  background-color: var(--dark-grayish-blue);
  text-align: center;
  padding: 80px;
  border-radius: 15px;
  position: relative;
  width: 520px;
  height: 150px;
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.192)
}

.advice-id {
  color: var(--neon-green);
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: lighter;
}

.quote {
  color: var(--light-cyan);
  font-size: 1.6rem;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.quote-btn {
  position: absolute;
  bottom: -2rem;
  background-color: var(--neon-green);
  padding: 15px;
  border-radius: 50%;
  transition: all 0.3s;
} 

.quote-btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 15px hsl(150, 100%, 66%);
}

@media (max-width: 605px)  {
  .content {
    padding: 50px;
    width: 500px;
  }
  .quote-btn {
    bottom: -2rem;
  }
}
@media (max-width: 430px) {
  .content {
    padding: 30px;
    width: 300px;
  }
  .divider {
    width: 300px;
  }
  .quote-btn {
    bottom: -1.50rem;
    width: 16px;
    height: 16px;
  }
  .quote {
    font-size: 0.9375rem;
  }
}